@model TARge21Shop.Models.RealEstate.FileToApiViewModel

@{
    var photoPaths = "~/multipleFileUpload/" + (Model.FilePath ?? "noimage.jpg");
    //var photoPaths = "../wwwroot/" + Model.ImageId.ToString();
}

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.FilePath</div>
    <img class="card-img-top" src="@photoPaths" asp-append-version="true" />
</div>